<div class="main">
    <div class="container">
        <div class="4-col-grids">
            <div class="col-4">
                <div class="col-md-3">
                    <div class="subscribe-form">
                        <h4>Barones de la Birra</h4>
                        <form>
                            <ul>
                                <li id="test_li"><a href="#/test"><input id="test_btn" type="button" value="Test"></a></li>
                                <li id="scores_li"><a href="#/scores"><input id="scores_btn" type="button" value="Scores"></a></li>
                                <li id="connect_li"><a href="#/connect"><input id="connect_btn" type="button" value="Connect"></a></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>