<div class="main">
    <div class="container">
        <div class="4-col-grids">
            <div class="col-4">
                <div class="col-md-3">
                    <div class="subscribe-form">
                        <h4>Testing</h4>
                        <form>

                            <div id="step1" class="steps">
                                <p>Calibrating, please wait</p>
                                <p id="step1_time">{{seconds}} s</p>
                            </div>

                            <div id="step2" class="steps hidden">
                                <p>Time to blow!</p>
                                <p id="step2_time">{{seconds}} s</p>
                                <p id="step2_bar">{{fields.btData}}</p>
                            </div>

                            <div id="step3" class="steps">

                                <h1 id="step3_title_fail" class="hidden">BUUUUUUUUUH!</h1>
                                <p id="step3_fail" class="hidden">Not really a highscore, but we could take your picture anyways</p>

                                <h1 id="step3_title_success" class="hidden">WHOOOOOOOOO!</h1>
                                <p id="step3_success" class="hidden">Impressive! you've entered the hall of fame</p>
                                <a href="#/camera"><input id="camera_btn" class="camera" type="button" value="Take picture!"></a>
                            </div>


                            <div class="clearfix"> </div>
                            <a href="#/"><input id="back_btn" class="stop" type="button" value="Hacer el gallina!"></a>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>